flows/Add_Product_Request_and_Line_Items-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Make_Product_Line_Item</name>
        <label>Make Product Line Item</label>
        <locationX>802</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestedProduct2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.QuantityRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestedQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProduct2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProduct2.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjVanLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequestLineItem.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestingWO_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Product_Request_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_ProductRequest</name>
        <label>Make ProductRequest</label>
        <locationX>803</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>sObjProductRequest.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjVanLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequest.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestingOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequest.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestingWO_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductRequest.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Product_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Van_Product_Item</name>
        <label>Make Van Product Item</label>
        <locationX>277</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>sObjProductVanItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProduct2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductVanItem.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProduct2.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductVanItem.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjVanLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductVanItem.QuantityOnHand</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjProductVanItem.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProduct2.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Van_Product_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Request_Part_Relationship</name>
        <label>Update Request Part Relationship</label>
        <locationX>809</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>sObjRequestPart.Product_Transfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProductTransfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjRequestPart.Product_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_varProductItemId</name>
        <label>Update varProductItemId</label>
        <locationX>280</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProductVanItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_ProductRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Item_Available</name>
        <label>Product Item Available?</label>
        <locationX>513</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Make_Van_Product_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Item</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_ProductRequest</targetReference>
            </connector>
            <label>Has Product Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_has_a_location</name>
        <label>Service Resource has a location</label>
        <locationX>508</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_a_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjServiceResource.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupVan_Location</targetReference>
            </connector>
            <label>Has a Location</label>
        </rules>
    </decisions>
    <description>Triggered by Process Builder Flow &quot;Auto Create Part Request on WO&quot; and adds stock to van</description>
    <interviewLabel>Add Product Request and Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Product Request on Service</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Product_Request</name>
        <label>New Product Request</label>
        <locationX>941</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Make_Product_Line_Item</targetReference>
        </connector>
        <inputReference>sObjProductRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Product_Request_Line</name>
        <label>New Product Request Line</label>
        <locationX>943</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Lookup_Request_Part_Record</targetReference>
        </connector>
        <inputReference>sObjProductRequestLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Van_Product_Item</name>
        <label>New Van Product Item</label>
        <locationX>277</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_varProductItemId</targetReference>
        </connector>
        <inputReference>sObjProductVanItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Product2</name>
        <label>Lookup Product2</label>
        <locationX>512</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Item_Available</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestedProduct2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sObjProduct2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>QuantityUnitOfMeasure</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Request_Part_Record</name>
        <label>Lookup Request Part Record</label>
        <locationX>646</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Request_Part_Relationship</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestPartId</elementReference>
            </value>
        </filters>
        <object>Request_Part__c</object>
        <outputReference>sObjRequestPart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Transfer__c</queriedFields>
        <queriedFields>Product_Request__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Resource</name>
        <label>Lookup Service Resource</label>
        <locationX>509</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_has_a_location</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestingOwnerId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>sObjServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Checks that the Van has already existing a Product Item corresponding to the Product2Id passed from process builder</description>
        <name>Lookup_Van_Item</name>
        <label>Lookup Van Item</label>
        <locationX>510</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product2</targetReference>
        </connector>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjVanLocation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestedProduct2Id</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>varProductItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupVan_Location</name>
        <label>LookupVan Location</label>
        <locationX>509</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Van_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjServiceResource.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsMobile</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>sObjVanLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Part</name>
        <label>Update Request Part</label>
        <locationX>951</locationX>
        <locationY>1020</locationY>
        <inputReference>sObjRequestPart</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Service_Resource</startElementReference>
    <variables>
        <name>sObjProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>New Product Request record</description>
        <name>sObjProductRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <description>New Product Line item</description>
        <name>sObjProductRequestLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <description>New Product Transfer record</description>
        <name>sObjProductTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <description>Van Product Item Record</description>
        <name>sObjProductVanItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <description>Request Part object</description>
        <name>sObjRequestPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Part__c</objectType>
    </variables>
    <variables>
        <name>sObjServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>sObjVanLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Van Location Records</description>
        <name>VanLocationSObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Product Item Item</description>
        <name>varProductItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The requested Product2 Id</description>
        <name>varRequestedProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Qty required</description>
        <name>varRequestedQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Service record this request originated from</description>
        <name>varRequestedServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Owner who executed the Process Builder flow &quot;Auto Create Part Request on WO&quot;</description>
        <name>varRequestingOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Order Id related to Service</description>
        <name>varRequestingWO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record originating the request</description>
        <name>varRequestPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
