flows/Auto_Reorder_of_Product_Item_Check-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Updates &quot;Auto Request Part&quot;  on the Consumed Part with Request Part Number</description>
        <name>Assign_Lookup_to_Service_Part</name>
        <label>Assign Lookup to Service Part</label>
        <locationX>615</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>sObjServicePart.Auto_Request_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestPartId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varQtyToOrder_to_Minimum_SOH</name>
        <label>Assign varQtyToOrder to Minimum SOH</label>
        <locationX>607</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>varQtyToOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjProductItem.Minimum_SOH__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Qty_to_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Qty_to_Order</name>
        <label>Calculate Qty to Order</label>
        <locationX>609</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>varQtyToOrder</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>sObjProductItem.QuantityOnHand</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qty_Under_min_SOH</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_reorder</name>
        <label>Auto reorder?</label>
        <locationX>612</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Work_Out_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjProductItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjProductItem.Auto_Reorder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjProductItem.Minimum_SOH__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjProductItem.Minimum_SOH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varQtyToOrder_to_Minimum_SOH</targetReference>
            </connector>
            <label>Work Out Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qty_Under_min_SOH</name>
        <label>Qty Under min SOH</label>
        <locationX>610</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQtyToOrder</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQtyToOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request_Part</targetReference>
            </connector>
            <label>Reorder</label>
        </rules>
    </decisions>
    <description>Checks if a Product Item is an AutoReorder item and auto creates Request Part record to minimum stock on hand.</description>
    <interviewLabel>Auto Reorder of Product Item Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Reorder of Product Item</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Request_Part</name>
        <label>Create Request Part</label>
        <locationX>616</locationX>
        <locationY>725</locationY>
        <assignRecordIdToReference>varRequestPartId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Lookup_to_Service_Part</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>sObjProductItem.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>varQtyToOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>varServiceId</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Part__c</object>
    </recordCreates>
    <recordLookups>
        <name>Look_up_Service_Part_record</name>
        <label>Look up Service Part record</label>
        <locationX>614</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_PartItem_in_Van_Stock</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServicePartId</elementReference>
            </value>
        </filters>
        <object>Service_Part__c</object>
        <outputReference>sObjServicePart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Auto_Request_Part__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PartItem_in_Van_Stock</name>
        <label>Lookup PartItem in Van Stock</label>
        <locationX>612</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_reorder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductItemId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>sObjProductItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Auto_Reorder__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Minimum_SOH__c</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Part</name>
        <label>Update Service Part</label>
        <locationX>611</locationX>
        <locationY>951</locationY>
        <inputReference>sObjServicePart</inputReference>
    </recordUpdates>
    <startElementReference>Look_up_Service_Part_record</startElementReference>
    <variables>
        <description>Product Item sObject</description>
        <name>sObjProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <description>The Service Part to update</description>
        <name>sObjServicePart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Part__c</objectType>
    </variables>
    <variables>
        <description>Input from Product Consumed Product Item Id</description>
        <name>varProductItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the Product Qty Consumed and needed to be reordered</description>
        <name>varProductQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Quantity to order is the difference between Qty on hand and the Minimum Stock Qty</description>
        <name>varQtyToOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRequestPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Id related to the product request/product consumed</description>
        <name>varServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Part record that initiated this record</description>
        <name>varServicePartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
