flows/Create_New_Product_Transfer-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Service_Resource_has_Location</name>
        <label>Service Resource has Location</label>
        <locationX>161</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_s_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjServiceResource.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_up_Van_Location</targetReference>
            </connector>
            <label>Has s Location?</label>
        </rules>
    </decisions>
    <description>New Product Transfer and relationship for Received_Part__c.</description>
    <interviewLabel>Create New Product Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Product Transfer</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>672</locationX>
        <locationY>266</locationY>
        <assignRecordIdToReference>varProductTransferId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product_Transfer_on_Received_Part</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>sObjVanLocation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductRequestLineItemId</field>
            <value>
                <elementReference>sObjProductRequestLineItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>varReceivedQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>varReceivedQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <elementReference>varProduct2QuantintyUnitMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordLookups>
        <name>Look_up_Van_Location</name>
        <label>Look up Van Location</label>
        <locationX>392</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product_Request_Line_Item</targetReference>
        </connector>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsMobile</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjServiceResource.LocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>sObjVanLocation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Request_Line_Item</name>
        <label>Lookup Product Request Line Item</label>
        <locationX>534</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductRequestId</elementReference>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <outputReference>sObjProductRequestLineItem</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Resource</name>
        <label>Lookup Service Resource</label>
        <locationX>11</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_has_Location</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestPartOwnerId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>sObjServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Transfer_on_Received_Part</name>
        <label>Update Product Transfer on Received Part</label>
        <locationX>810</locationX>
        <locationY>269</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReceivePartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Transfer__c</field>
            <value>
                <elementReference>varProductTransferId</elementReference>
            </value>
        </inputAssignments>
        <object>Received_Part__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Service_Resource</startElementReference>
    <variables>
        <name>sObjProductRequestLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>sObjServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>sObjVanLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>varProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct2QuantintyUnitMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parent of the product request</description>
        <name>varProductRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceivedQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varReceivePartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestPartOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
