flows/Update_Product_Item_Owner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_sObject_List</name>
        <label>Add to sObject List</label>
        <locationX>983</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>newProductItemSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjProductItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductItem_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>978</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>sObjProductItem.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVanOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_sObject_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Owner_Same</name>
        <label>Is Owner Same?</label>
        <locationX>972</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>ProductItem_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same</defaultConnectorLabel>
        <rules>
            <name>Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjProductItem.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varVanOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <description>Auto launch to update Product Item Ownership triggered by Process Builder &quot;Reorganise Ownerhip of Stock from Van&quot;</description>
    <interviewLabel>Update Product Item Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Item Owner</label>
    <loops>
        <name>ProductItem_Loop</name>
        <label>ProductItem Loop</label>
        <locationX>721</locationX>
        <locationY>354</locationY>
        <assignNextValueToReference>sObjProductItem</assignNextValueToReference>
        <collectionReference>productItemSobjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Owner_Same</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ProductItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Related_Product_Items</name>
        <label>Lookup Related Product Items</label>
        <locationX>509</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductItem_Loop</targetReference>
        </connector>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVanLocationId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>productItemSobjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ProductItems</name>
        <label>Update ProductItems</label>
        <locationX>729</locationX>
        <locationY>588</locationY>
        <inputReference>newProductItemSObjects</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Related_Product_Items</startElementReference>
    <variables>
        <description>New list of product item sobjects to update</description>
        <name>newProductItemSObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <description>List of product Item</description>
        <name>productItemSobjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>sObjProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <description>ID passed by Process Builder &quot;Reorganise Ownerhip of Stock from Van&quot;</description>
        <name>varVanLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Owner Id of Van passed in by Process Builder variable</description>
        <name>varVanOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
